USE [master]
GO
/****** Object:  Database [music_school]    Script Date: 23.04.2026 11:10:34 ******/
CREATE DATABASE [music_school]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'music_school', FILENAME = N'C:\Users\10230937\music_school.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'music_school_log', FILENAME = N'C:\Users\10230937\music_school_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [music_school].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [music_school]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[achievement]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achievement](
	[id_achievement] [int] IDENTITY(1,1) NOT NULL,
	[id_user] [int] NULL,
	[id_course] [int] NULL,
	[id_achievement_type] [int] NULL,
	[achievement_date] [date] NULL,
	[description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK__achievem__719AF69D9E22D455] PRIMARY KEY CLUSTERED 
(
	[id_achievement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[achievement_type]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[achievement_type](
	[id_achievement_type] [int] IDENTITY(1,1) NOT NULL,
	[achievement_type] [nvarchar](50) NULL,
 CONSTRAINT [PK_achievement_type] PRIMARY KEY CLUSTERED 
(
	[id_achievement_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[benefit]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[benefit](
	[id_benefit] [int] IDENTITY(1,1) NOT NULL,
	[benefit] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_benefit] PRIMARY KEY CLUSTERED 
(
	[id_benefit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[class_schedule]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class_schedule](
	[id_schedule] [int] IDENTITY(1,1) NOT NULL,
	[id_group] [int] NULL,
	[day_of_week] [int] NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[classroom] [nvarchar](20) NULL,
	[id_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_schedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[id_contract] [int] IDENTITY(1,1) NOT NULL,
	[id_course] [int] NOT NULL,
	[contract_date] [date] NOT NULL,
	[amount_month] [nvarchar](50) NOT NULL,
	[id_user] [int] NOT NULL,
	[discount] [bit] NULL,
	[discount_sum] [int] NULL,
 CONSTRAINT [PK_contract] PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[corse_type]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[corse_type](
	[id_course_type] [int] IDENTITY(1,1) NOT NULL,
	[course_type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_id_corse_type] PRIMARY KEY CLUSTERED 
(
	[id_course_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[id_course] [int] IDENTITY(1,1) NOT NULL,
	[name_course] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[min_age] [int] NOT NULL,
	[max_age] [int] NULL,
	[duration_course] [int] NOT NULL,
	[id_course_type] [int] NOT NULL,
 CONSTRAINT [PK_course] PRIMARY KEY CLUSTERED 
(
	[id_course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_members]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_members](
	[id_group_member] [int] IDENTITY(1,1) NOT NULL,
	[id_group] [int] NOT NULL,
	[id_student] [int] NOT NULL,
	[join_date] [date] NOT NULL,
 CONSTRAINT [PK_group_members] PRIMARY KEY CLUSTERED 
(
	[id_group_member] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parent]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parent](
	[id_parent] [int] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[number] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_parent] PRIMARY KEY CLUSTERED 
(
	[id_parent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress](
	[id_progress] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [int] NULL,
	[id_course] [int] NULL,
	[evaluation_date] [date] NULL,
	[skill_level] [nvarchar](50) NULL,
	[teacher_comment] [nvarchar](500) NULL,
	[id_user] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_progress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_job_title] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[study_group]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[study_group](
	[id_group] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](50) NOT NULL,
	[id_course] [int] NULL,
	[id_teacher] [int] NULL,
	[max_students] [int] NULL,
	[current_students] [int] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_group] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23.04.2026 11:10:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[id_benefit] [int] NULL,
	[id_parent] [int] NULL,
	[id_role] [int] NOT NULL,
	[number] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[achievement] ON 

INSERT [dbo].[achievement] ([id_achievement], [id_user], [id_course], [id_achievement_type], [achievement_date], [description]) VALUES (1, 10, 1, 5, CAST(N'2024-05-15' AS Date), N'1 место в городском конкурсе юных пианистов')
INSERT [dbo].[achievement] ([id_achievement], [id_user], [id_course], [id_achievement_type], [achievement_date], [description]) VALUES (2, 11, 1, 1, CAST(N'2024-04-10' AS Date), N'Грамота за активное участие в концерте')
INSERT [dbo].[achievement] ([id_achievement], [id_user], [id_course], [id_achievement_type], [achievement_date], [description]) VALUES (3, 19, 5, 4, CAST(N'2024-03-20' AS Date), N'Участие в фестивале бардовской песни')
SET IDENTITY_INSERT [dbo].[achievement] OFF
GO
SET IDENTITY_INSERT [dbo].[achievement_type] ON 

INSERT [dbo].[achievement_type] ([id_achievement_type], [achievement_type]) VALUES (1, N'Грамота')
INSERT [dbo].[achievement_type] ([id_achievement_type], [achievement_type]) VALUES (2, N'Диплом')
INSERT [dbo].[achievement_type] ([id_achievement_type], [achievement_type]) VALUES (3, N'Благодарственное письмо')
SET IDENTITY_INSERT [dbo].[achievement_type] OFF
GO
SET IDENTITY_INSERT [dbo].[benefit] ON 

INSERT [dbo].[benefit] ([id_benefit], [benefit]) VALUES (1, N'Дошкольная скидка 30%')
INSERT [dbo].[benefit] ([id_benefit], [benefit]) VALUES (2, N'Скидка для сирот 35%')
SET IDENTITY_INSERT [dbo].[benefit] OFF
GO
SET IDENTITY_INSERT [dbo].[class_schedule] ON 

INSERT [dbo].[class_schedule] ([id_schedule], [id_group], [day_of_week], [start_time], [end_time], [classroom], [id_user]) VALUES (1, 1, 2, CAST(N'10:00:00' AS Time), CAST(N'10:45:00' AS Time), N'Каб. 1', 5)
INSERT [dbo].[class_schedule] ([id_schedule], [id_group], [day_of_week], [start_time], [end_time], [classroom], [id_user]) VALUES (2, 1, 4, CAST(N'10:00:00' AS Time), CAST(N'10:45:00' AS Time), N'Каб. 1', 5)
INSERT [dbo].[class_schedule] ([id_schedule], [id_group], [day_of_week], [start_time], [end_time], [classroom], [id_user]) VALUES (3, 2, 3, CAST(N'11:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Каб. 2', 5)
SET IDENTITY_INSERT [dbo].[class_schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[contract] ON 

INSERT [dbo].[contract] ([id_contract], [id_course], [contract_date], [amount_month], [id_user], [discount], [discount_sum]) VALUES (1, 1, CAST(N'2024-01-10' AS Date), N'8000', 3, 0, NULL)
INSERT [dbo].[contract] ([id_contract], [id_course], [contract_date], [amount_month], [id_user], [discount], [discount_sum]) VALUES (2, 3, CAST(N'2024-01-11' AS Date), N'7500', 3, 0, NULL)
INSERT [dbo].[contract] ([id_contract], [id_course], [contract_date], [amount_month], [id_user], [discount], [discount_sum]) VALUES (3, 5, CAST(N'2024-01-12' AS Date), N'4000', 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[contract] OFF
GO
SET IDENTITY_INSERT [dbo].[corse_type] ON 

INSERT [dbo].[corse_type] ([id_course_type], [course_type]) VALUES (1, N'Индивидуальные занятия')
INSERT [dbo].[corse_type] ([id_course_type], [course_type]) VALUES (2, N'Групповые занятия')
SET IDENTITY_INSERT [dbo].[corse_type] OFF
GO
SET IDENTITY_INSERT [dbo].[course] ON 

INSERT [dbo].[course] ([id_course], [name_course], [price], [id_user], [min_age], [max_age], [duration_course], [id_course_type]) VALUES (1, N'Фортепиано для начинающих', 8000, 5, 6, 10, 45, 1)
INSERT [dbo].[course] ([id_course], [name_course], [price], [id_user], [min_age], [max_age], [duration_course], [id_course_type]) VALUES (2, N'Фортепиано для продолжающих', 10000, 5, 11, 16, 60, 1)
INSERT [dbo].[course] ([id_course], [name_course], [price], [id_user], [min_age], [max_age], [duration_course], [id_course_type]) VALUES (3, N'Вокал индивидуально', 7500, 7, 8, 18, 45, 1)
SET IDENTITY_INSERT [dbo].[course] OFF
GO
SET IDENTITY_INSERT [dbo].[group_members] ON 

INSERT [dbo].[group_members] ([id_group_member], [id_group], [id_student], [join_date]) VALUES (1, 1, 10, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[group_members] ([id_group_member], [id_group], [id_student], [join_date]) VALUES (2, 1, 11, CAST(N'2024-01-10' AS Date))
INSERT [dbo].[group_members] ([id_group_member], [id_group], [id_student], [join_date]) VALUES (3, 3, 19, CAST(N'2024-01-11' AS Date))
SET IDENTITY_INSERT [dbo].[group_members] OFF
GO
SET IDENTITY_INSERT [dbo].[parent] ON 

INSERT [dbo].[parent] ([id_parent], [surname], [name], [number], [email]) VALUES (1, N'Иванов', N'Алексей', N'+7-900-123-45-67', N'ivanov.a@mail.ru')
INSERT [dbo].[parent] ([id_parent], [surname], [name], [number], [email]) VALUES (2, N'Петрова', N'Мария', N'+7-900-234-56-78', N'petrova.m@yandex.ru')
INSERT [dbo].[parent] ([id_parent], [surname], [name], [number], [email]) VALUES (3, N'Сидоров', N'Дмитрий', N'+7-900-345-67-89', N'sidorov.d@gmail.com')
SET IDENTITY_INSERT [dbo].[parent] OFF
GO
SET IDENTITY_INSERT [dbo].[progress] ON 

INSERT [dbo].[progress] ([id_progress], [id_student], [id_course], [evaluation_date], [skill_level], [teacher_comment], [id_user]) VALUES (1, 10, 1, CAST(N'2024-06-01' AS Date), N'Средний', N'Хорошее чувство ритма, но нужно больше работать над постановкой рук.', 5)
INSERT [dbo].[progress] ([id_progress], [id_student], [id_course], [evaluation_date], [skill_level], [teacher_comment], [id_user]) VALUES (2, 11, 1, CAST(N'2024-06-01' AS Date), N'Начальный', N'Старательная, но медленно осваивает нотную грамоту.', 5)
INSERT [dbo].[progress] ([id_progress], [id_student], [id_course], [evaluation_date], [skill_level], [teacher_comment], [id_user]) VALUES (3, 19, 5, CAST(N'2024-05-28' AS Date), N'Средний', N'Уверенно играет аккорды, хорошо поёт под гитару.', 8)
SET IDENTITY_INSERT [dbo].[progress] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id_role], [role]) VALUES (1, N'Директор')
INSERT [dbo].[role] ([id_role], [role]) VALUES (2, N'Старший администратор')
INSERT [dbo].[role] ([id_role], [role]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
SET IDENTITY_INSERT [dbo].[study_group] ON 

INSERT [dbo].[study_group] ([id_group], [group_name], [id_course], [id_teacher], [max_students], [current_students], [is_active]) VALUES (1, N'Фортепиано-нач-1', 1, 5, 4, 2, 1)
INSERT [dbo].[study_group] ([id_group], [group_name], [id_course], [id_teacher], [max_students], [current_students], [is_active]) VALUES (2, N'Фортепиано-прод-1', 2, 5, 4, 0, 1)
INSERT [dbo].[study_group] ([id_group], [group_name], [id_course], [id_teacher], [max_students], [current_students], [is_active]) VALUES (3, N'Вокал-инд-1', 3, 7, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[study_group] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [surname], [name], [patronymic], [id_benefit], [id_parent], [id_role], [number], [email], [login], [password]) VALUES (1, N'Смирнов', N'Иван', N'Петрович', NULL, NULL, 1, N'+7-901-111-11-11', N'director@music-school.ru', N'smirnov_ip', N'qwerty123')
INSERT [dbo].[users] ([id_user], [surname], [name], [patronymic], [id_benefit], [id_parent], [id_role], [number], [email], [login], [password]) VALUES (2, N'Ковалёва', N'Анна', N'Сергеевна', NULL, NULL, 2, N'+7-901-222-22-22', N'admin@music-school.ru', N'root', N'root')
INSERT [dbo].[users] ([id_user], [surname], [name], [patronymic], [id_benefit], [id_parent], [id_role], [number], [email], [login], [password]) VALUES (3, N'Морозова', N'Екатерина', N'Владимировна', NULL, NULL, 3, N'+7-901-333-33-33', N'morozova@music-school.ru', N'morozova_ev', N'pass123')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[study_group] ADD  DEFAULT ((0)) FOR [current_students]
GO
ALTER TABLE [dbo].[study_group] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[achievement]  WITH CHECK ADD  CONSTRAINT [FK__achieveme__id_co__6477ECF3] FOREIGN KEY([id_course])
REFERENCES [dbo].[course] ([id_course])
GO
ALTER TABLE [dbo].[achievement] CHECK CONSTRAINT [FK__achieveme__id_co__6477ECF3]
GO
ALTER TABLE [dbo].[achievement]  WITH CHECK ADD  CONSTRAINT [FK_achievement_achievement_type] FOREIGN KEY([id_achievement_type])
REFERENCES [dbo].[achievement_type] ([id_achievement_type])
GO
ALTER TABLE [dbo].[achievement] CHECK CONSTRAINT [FK_achievement_achievement_type]
GO
ALTER TABLE [dbo].[achievement]  WITH CHECK ADD  CONSTRAINT [FK_achievement_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[achievement] CHECK CONSTRAINT [FK_achievement_user]
GO
ALTER TABLE [dbo].[class_schedule]  WITH CHECK ADD FOREIGN KEY([id_group])
REFERENCES [dbo].[study_group] ([id_group])
GO
ALTER TABLE [dbo].[class_schedule]  WITH CHECK ADD  CONSTRAINT [FK_class_schedule_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[class_schedule] CHECK CONSTRAINT [FK_class_schedule_user]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_course] FOREIGN KEY([id_course])
REFERENCES [dbo].[course] ([id_course])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_course]
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD  CONSTRAINT [FK_contract_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[contract] CHECK CONSTRAINT [FK_contract_user]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FK_course_employee] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FK_course_employee]
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD  CONSTRAINT [FK_course_id_corse_type] FOREIGN KEY([id_course_type])
REFERENCES [dbo].[corse_type] ([id_course_type])
GO
ALTER TABLE [dbo].[course] CHECK CONSTRAINT [FK_course_id_corse_type]
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD  CONSTRAINT [FK_group_members_group] FOREIGN KEY([id_group])
REFERENCES [dbo].[study_group] ([id_group])
GO
ALTER TABLE [dbo].[group_members] CHECK CONSTRAINT [FK_group_members_group]
GO
ALTER TABLE [dbo].[group_members]  WITH CHECK ADD  CONSTRAINT [FK_group_members_student] FOREIGN KEY([id_student])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[group_members] CHECK CONSTRAINT [FK_group_members_student]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[course] ([id_course])
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [FK_progress_user] FOREIGN KEY([id_student])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [FK_progress_user]
GO
ALTER TABLE [dbo].[study_group]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[course] ([id_course])
GO
ALTER TABLE [dbo].[study_group]  WITH CHECK ADD  CONSTRAINT [FK_study_group_user] FOREIGN KEY([id_teacher])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[study_group] CHECK CONSTRAINT [FK_study_group_user]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_user_benefit] FOREIGN KEY([id_benefit])
REFERENCES [dbo].[benefit] ([id_benefit])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_user_benefit]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_user_parent] FOREIGN KEY([id_parent])
REFERENCES [dbo].[parent] ([id_parent])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_user_parent]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id_role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [dbo].[class_schedule]  WITH CHECK ADD CHECK  (([day_of_week]>=(1) AND [day_of_week]<=(7)))
GO
USE [master]
GO
